body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.albums {
  width: 350px;
}
.albums > ul {
  list-style: none;
}
.albums > ul > .select {
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: rgb(158, 156, 156);
}
.albums > ul > .select:hover {
  color: black;
}
.albums > ul > .selected {
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: rgb(158, 156, 156);
  color: black;
  background-color: rgba(173, 216, 230, 0.541);
  border-radius: 10px;
}
.photos {
  width: 700px;
}

.photos > ul {
  list-style: none;
}

.photos > ul > li {
  display: flex;
  justify-content: space-between;
  width: 700px;
  border: 1px solid lightgray;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

.photos > ul > li > div {
  position: relative;
  top: 50px;
  left: 10px;
  font-size: 17px;
}

.not-active {
  position: relative;
  top: 400px;
  left: 20px;
}

.not-active > b {
  font-size: 40px;
}

.filter > input{
  margin-top: 15px;
  margin-left: 40px;
  width: 690px;
  height: 30px;
  border: 1px solid lightgray;
}